<md-tab label="Framework">
    <md-content class="md-padding">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" ng-controller="titleCtrl" layout="row" ng-cloak class="md-inline-form">

                        <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
                            <div>
                                <md-input-container>
                                    <h2>Title: </h2>
                                    <input ng-model="blueprints.title">
                                </md-input-container>

                            </div>
                            <div>
                                <md-input-container>
                                    <h2>Grade: </h2>
                                    <input ng-model="blueprints.grade">
                                </md-input-container>
                            </div>
                        </md-content>

                    </div>
                    <!-- second row -->
                    <div ng-controller="DateCtrl" ng-cloak>
                        <md-content layout-padding>

                            <div layout-gt-xs="column">
                                <div flex-gt-xs="50">
                                    <h4>Start: </h4>
                                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                                </div>
                                <div flex-gt-xs="50">
                                    <h4>End: </h4>
                                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                                </div>

                            </div>


                        </md-content>
                    </div>


                </div>
            </div>

            <hr>
            <!-- checkbox starts here -->
            <div ng-controller="checkboxCtrl" class="md-padding" ng-cloak>
                <div>
                    <fieldset class="standard">
                        <legend>Subject:</legend>
                        <div layout-wrap layout-gt-sm="row">

                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb1"
                                             class="md-primary">
                                    English
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb2"
                                             class="md-primary">
                                    Literature
                                </md-checkbox>
                            </div>

                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb3"
                                             class="md-primary">
                                    Mathematics
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb4"
                                             class="md-primary">
                                    Physics
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5"
                                             class="md-primary">
                                    Biology
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb6"
                                             class="md-primary">
                                    Geography
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb7"
                                             class="md-primary">
                                    Chemistry
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb8"
                                             class="md-primary">
                                    History
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb9"
                                             class="md-primary">
                                    Music
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb10"
                                             class="md-primary">
                                    Visual arts
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb11"
                                             class="md-primary">
                                    Health Ed.
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb12"
                                             class="md-primary">
                                    Religion
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb13"
                                             class="md-primary">
                                    Ethics
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb14"
                                             class="md-primary">
                                    Social studies
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb15"
                                             class="md-primary">
                                    Crafts
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb16"
                                             class="md-primary">
                                    Physical Edu.
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb17"
                                             class="md-primary">
                                    Home Eco.
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb18"
                                             class="md-primary">
                                    Environmental
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb19"
                                             class="md-primary">
                                    Computer Sci.
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb20"
                                             class="md-primary">
                                    Natural Sci.
                                </md-checkbox>
                            </div>
                            <div flex-gt-sm="10">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb21"
                                             class="md-primary">
                                    Other
                                </md-checkbox>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr>
            <!-- keywords start here -->
            <div >
                <h2>Keywords:</h2>
                <md-input-container>
                    <label>Keywords:</label>
                    <input type="text" ng-model="keywords" required md-maxlength="10"> <i class="material-icons">
                    done </i>
                </md-input-container>
            </div>

        </div>
    </md-content>
</md-tab>
<md-tab label="Goals">
    <md-content ng-controller="nameCtrl" class="md-padding">
        <form  ng-cloak>
            <md-toolbar ng-click="isClick =!isClick" class="md-primary md-hue-2">
                <b class="md-toolbar-tools">
                    <span>aim of this unit is...</span>
                </b>
            </md-toolbar>
            <md-list-item ng-repeat="name in names" class="noright" ng-show="isClick ">
                <b>{{name}}</b>
                <md-button class="md-raised md-primary" ng-click="removeName(name)">Remove</md-button>
            </md-list-item>
            <md-input-container>
                <label>aims</label>
                <input ng-model="enteredName" type="text">
            </md-input-container>
            <md-button ng-click="addName()" >Add</md-button>
        </form>
        <md-divider></md-divider>
        <form ng-cloak>
            <md-toolbar ng-click="isSkill =!isSkill" class="md-primary md-hue-2">
                <b class="md-toolbar-tools">
                    <span>skills needed is...</span>
                </b>
            </md-toolbar>
            <md-list-item ng-repeat="skill in skills" class="noright" ng-show="isSkill ">
                <b>{{skill}}</b>
                <md-button class="md-raised md-primary" ng-click="removeSkill(skill)">Remove</md-button>
            </md-list-item>
            <md-input-container>
                <label>Skills</label>
                <input ng-model="enteredSkill" type="text">
            </md-input-container>

            <md-button ng-click="addSkill()" value="add">Add</md-button>
        </form>

    </md-content>
</md-tab>
<md-tab label="Scenario">
    <md-content class="md-padding">
        <h1>
            <p>What is the driving question for this session?</p>
        </h1>



        <!--this is table -->


        </head>

        <body>
        <div>
            <h2>Example Questions:</h2>
            <table style="width:100%">
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">How Can</td>
                    <td class="mdl-data-table__cell--non-numeric" >I/We</td>
                    <td class="mdl-data-table__cell--non-numeric">Build / Create / Mate</td>
                    <td class="mdl-data-table__cell--non-numeric">Real World Problem</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">how do</td>
                    <td class="mdl-data-table__cell--non-numeric">We as...Role / Occupation</td>
                    <td class="mdl-data-table__cell--non-numeric" >Design / Plan</td>
                    <td class="mdl-data-table__cell--non-numeric">For a Public audience</td>

                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Should</td>
                    <td class="mdl-data-table__cell--non-numeric">Town / City / Country</td>
                    <td class="mdl-data-table__cell--non-numeric">Solve</td>
                    <td class="mdl-data-table__cell--non-numeric">For a School</td>

                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Could</td>
                    <td class="mdl-data-table__cell--non-numeric">State / Nation</td>
                    <td class="mdl-data-table__cell--non-numeric">Write</td>
                    <td class="mdl-data-table__cell--non-numeric">For a classroom</td>
                </tr>

                <tr>
                    <td class="mdl-data-table__cell--non-numeric">What</td>
                    <td class="mdl-data-table__cell--non-numeric">Community / Organization</td>
                    <td class="mdl-data-table__cell--non-numeric">Propose / Decide</td>
                    <td class="mdl-data-table__cell--non-numeric">For an online audience</td>
                </tr>
            </table>
        </div>

        <!--this is description box -->
        <div>
            <p>
                <md-input-container class="md-block">
                    <label>Create Questions: </label>
                    <textarea ng-model="user.biography" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                </md-input-container>
            </p>
        </div>


        </table>

    </md-content>
</md-tab>

<md-tab label="Activities">
    <md-content class="md-padding">

    </md-content>
</md-tab>
<md-tab label="Assessment">
    <md-content class="md-padding">

    </md-content>
</md-tab>
<md-tab label="Check lists">
    <md-content class="md-padding">
        <div  ng-controller="RatingCtrl">

            <div>
                <h2>..:</h2>
                <table style="width:100%">
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">The Learning outcomes of the unit were with the chosen activities</td>
                        <td class="mdl-data-table__cell--non-numeric" >

                            <i class="star-rating" star-rating rating-value="rating7"

                               data-max="5" on-rating-selected="rateFunction(rating)">
                            </i>

                        </td>

                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">The problem / question is ill-structured and challenging</td>
                        <td class="mdl-data-table__cell--non-numeric">


                            <i class="star-rating" star-rating rating-value="rating1"

                               data-max="5" on-rating-selected="rateFunction(rating)">
                            </i>

                        </td>


                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">The problem has a real-world context and is meaningful for the students </td>
                        <td class="mdl-data-table__cell--non-numeric">

                            <i class="star-rating" star-rating rating-value="rating2"

                               data-max="5" on-rating-selected="rateFunction(rating)">
                            </i>

                        </td>

                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">The learning resources aer relevent for the content of the unit</td>
                        <td class="mdl-data-table__cell--non-numeric">

                            <i class="star-rating" star-rating rating-value="rating3"

                               data-max="5" on-rating-selected="rateFunction(rating)">
                            </i>


                        </td>

                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">The instructions for the students are clear and well-structured</td>
                        <td class="mdl-data-table__cell--non-numeric">

                            <i class="star-rating" star-rating rating-value="rating4"

                               data-max="5" on-rating-selected="rateFunction(rating)">
                            </i>


                        </td>

                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">The assessment is clear and well-defined</td>
                        <td class="mdl-data-table__cell--non-numeric">

                            <i class="star-rating" star-rating rating-value="rating5"

                               data-max="5" on-rating-selected="rateFunction(rating)">
                            </i>

                        </td>

                    </tr>

                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">The unit allows students to direct and plan their own learning</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <i class="star-rating" star-rating rating-value="rating6"

                               data-max="5" on-rating-selected="rateFunction(rating)">
                            </i>

                        </td>

                    </tr>


                </table>
            </div>






            <h3>Rating</h3>
            <div ng-init="rating = star.rating + 1"></div>


        </div>
    </md-content>
</md-tab>